.character{
    width: 220px;
    height: 240px;
    border: 3px solid rgb(0, 133, 0);
    display: inline-block;
    position: relative;
}
.attacker{
    width: 220px;
    height: 240px;
    border: 3px solid rgb(133, 0, 0);
    display: inline-block;
    position: relative;
}
.myChar{
    width: 220px;
    height: 240px;
    border: 3px solid rgb(0, 133, 0);
    display: inline-block;
    position: relative;
}
.char{
    height: 180px;
    width: 180px;
    position: absolute;
    right: 20px;
    top: 30px;
}
h1{
    font-size: 3rem;
    text-align: center;
}
h2{
    font-size: 2rem;
}
.charName{
    margin-top: 9px;
    text-align: center;
}
.charHP{
    position: absolute;
    bottom: 10px;
    left: 100px;
}
/* @font-face {
    font-family: 'Jedi Special';
    src: URL('assets/STJEDISE.TTF') format('truetype');
}
body{
    font-family: 'Jedi Special';
} */